#######################################
# DATA (large files - NEVER commit)
#######################################
data_raw/
data_clean/
data_clean_tmp/
data_processed/

*.parquet
*.csv

#######################################
# LOGS & OUTPUTS
#######################################
logs/
outputs/

*.log

#######################################
# SPARK / BIG DATA TEMP FILES
#######################################
*.crc
_SUCCESS
.spark-staging/
metastore_db/
derby.log

#######################################
# PYTHON
#######################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

#######################################
# ENVIRONMENTS / IDE
#######################################
.venv/
env/
.vscode/

#######################################
# DATABASE / CONFIG
#######################################
*.db
airflow.db
airflow.cfg
.env

#######################################
# AIRFLOW TEMP
#######################################
airflow-webserver.pid
airflow-scheduler.pid

#######################################
# OS FILES
#######################################
.DS_Store
Thumbs.db

#######################################
# ARCHIVES
#######################################
*.tar
*.gz