#######################################
# DATA
#######################################
data_raw/
data_clean/
data_clean_tmp/
data_processed/
*.parquet
*.csv

#######################################
# Logs / Outputs
#######################################
logs/
outputs/
*.log

#######################################
# Spark
#######################################
*.crc
_SUCCESS
.spark-staging/
metastore_db/
derby.log

#######################################
# Python
#######################################
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
.vscode/
