#######################################
# DATA (large files - NEVER commit)
#######################################
data_raw/
data_clean/
data_clean_tmp/
data_processed/
data_single_10m/

*.parquet
*.csv

#######################################
# OUTPUTS & LOGS
#######################################
outputs/
logs/

*.log
_SUCCESS
*.crc

#######################################
# SPARK / BIG DATA TEMP
#######################################
.spark-staging/
metastore_db/
derby.log

#######################################
# PYTHON
#######################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

#######################################
# ENVIRONMENTS / IDE
#######################################
.venv/
env/
.vscode/

#######################################
# DATABASE / CONFIG
#######################################
*.db
airflow.db*
airflow.cfg
.env

#######################################
# AIRFLOW TEMP
#######################################
airflow-webserver.pid
airflow-scheduler.pid

#######################################
# MODEL ARTIFACTS
#######################################
ml/model.pkl
ml/features.pkl

#######################################
# NOTES
#######################################
note.txt

#######################################
# OS FILES
#######################################
.DS_Store
Thumbs.db

#######################################
# ARCHIVES
#######################################
*.tar
*.gz

simple_auth_manager_passwords.json.generated